{% if page.hide_subscribe == null %}
  {% include subscribe.html %}
{% endif %}
<footer class="marketing-footer--light-gray">
  <section>
    <ul>
      <li class="logo-wrapper">
        <div class="logo">
          <img src="/assets/images/qordobalogoblue.png" alt="Qordoba" >
        </div>
      </li>
      <li>
        <nav>
          <h4>Use Cases</h4>
          <ul>
            <li><a href="#">Strings Management</a></li>
            <li><a href="#">Content AI</a></li>
            <li><a href="#">Localization</a></li>
            <li><a href="#">Persona Based Content</a></li>

          </ul>
        </nav>
      </li>
      <li>
        <nav>
          <h4>Support</h4>
          <ul>
            <li><a href="https://support.qordoba.com/">Knowledge Base</a></li>
            <li><a href="https://dev.qordoba.com/glossary/">Glossary of Qordoba Terms</a></li>
            <li><a href="https://www.youtube.com/channel/UC_ZMLcfNI1XQnV8frpeFsgA">Webinars</a></li>
            <li><a href="https://www.youtube.com/channel/UC_ZMLcfNI1XQnV8frpeFsgA">Tutorials</a></li>
          </ul>
        </nav>
      </li>
      <li>
        <nav>
          <h4>Network Status</h4>
          <ul>
            <li><a href="https://status.qordoba.com/">APIs</a></li>
            <li><a href="https://status.qordoba.com/">SmartSuggest</a></li>
            <li><a href="https://status.qordoba.com/">Emotion and Tone</a></li>
          </ul>
        </nav>
      </li>
      <li>
        <nav>
          <h4>Legal</h4>
          <ul>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </nav>
      </li>
    </ul>
  </section>

  <section class="legal">
    <ul>
      <li>
        <span class="mashape-footer-content">&copy; Qordoba. {{ site.time | date: '%Y' }}</span>
      </li>
      <li>
        <div class="social-link">
          <a href="https://github.com/Qordobacode" title="Github"><i aria-label="Github" class="fa fa-github" aria-hidden="true"></i></a></div>
        <div class="social-link">
          <a href="https://twitter.com/qordoba" title="Twitter"><i aria-label="Twitter" class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </li>
    </ul>
  </section>
</footer>
